<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>acl.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>14</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
				<key>dateExpires</key>
				<string>14/12/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>7.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>RecaptchaInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>100.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_cropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>open_filex.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>search_choices.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sensors_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>06F106BE3DDEAA6115101AC78D6E240713D5EE58</string>
						<key>dateExpires</key>
						<string>14/12/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>XH238TV6PN</string>
						<key>name</key>
						<string>Asuransi Allianz Life Indonesia, PT</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XH238TV6PN.co.id.az.acl.dev</string>
				<key>com.apple.developer.team-identifier</key>
				<string>XH238TV6PN</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Acl SIT.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>8534e7e2-9e02-468c-a639-e2dfc9bdc17d</string>
				<key>dateExpires</key>
				<string>06/02/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: co.id.az.acl.dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XH238TV6PN</string>
				<key>name</key>
				<string>Asuransi Allianz Life Indonesia, PT</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
